{% extends "layouts/base.html" %}

{% block title %} Gallery {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
    .image-placeholder {
        margin-bottom: 10px;
        overflow: hidden;
        width: 100%;
        height: 200px; /* Adjust based on your design */
    }

    .image-placeholder img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .star-icon {
        position: absolute;
        bottom: 12px;
        right: 20px;
        color: yellow;
    }
</style>

{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Your Gallery</h5>
<!--            <p class="category"></p>-->
          </div>
          <div class="card-body all-icons">
            <div class="row">
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/photo_2024-04-28_19-18-35.jpg"}}>&ndash;&gt;-->
<!--                  &lt;!&ndash;<i class="tim-icons icon-alert-circle-exc"></i>-->
<!--                  <p>icon-alert-circle-exc</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/morningwalk.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="star-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="tim-icons icon-shape-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <p>icon-align-center</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                  <div class="image-placeholder">-->
<!--&lt;!&ndash;                      <img src="{{ config.ASSETS_ROOT }}/gallery/1024px-Claude_Monet_-_Woman_with_a_Parasol_-_Madame_Monet_and_Her_Son_-_Google_Art_Project-768x954.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="star-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="tim-icons icon-shape-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="font-icon-detail">&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash;<i class="tim-icons icon-align-left-2"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-align-left-2</p>&ndash;&gt;&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                  <div class="image-placeholder">-->
<!--&lt;!&ndash;                      <img src="{{ config.ASSETS_ROOT }}/gallery/1665_Girl_with_a_Pearl_Earring-768x910.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="font-icon-detail">&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash;<i class="tim-icons icon-app"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-app</p>&ndash;&gt;&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                  <div class="image-placeholder">-->
<!--&lt;!&ndash;                      <img src="{{ config.ASSETS_ROOT }}/gallery/12320-768x769.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="star-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="tim-icons icon-shape-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="font-icon-detail">&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash;<i class="tim-icons icon-atom"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-atom</p>&ndash;&gt;&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                  <div class="image-placeholder">-->
<!--&lt;!&ndash;                      <img src="{{ config.ASSETS_ROOT }}/gallery/Starry_Night_Over_the_Rhone-768x595.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="star-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="tim-icons icon-shape-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="font-icon-detail">&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash;<i class="tim-icons icon-attach-87"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-attach-87</p>&ndash;&gt;&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                  <div class="image-placeholder">-->
<!--&lt;!&ndash;                      <img src="{{ config.ASSETS_ROOT }}/gallery/Van_Gogh_-_Starry_Night_-_Google_Art_Project-scaled.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="font-icon-detail">&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash;<i class="tim-icons icon-badge"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-badge</p>&ndash;&gt;&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                  <div class="image-placeholder">-->
<!--&lt;!&ndash;                      <img src="{{ config.ASSETS_ROOT }}/gallery/Van_Gogh_-_Terrasse_des_Cafes_an_der_Place_du_Forum_in_Arles_am_Abend1FXD-768x1008.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="star-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="tim-icons icon-shape-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="font-icon-detail">&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash;<i class="tim-icons icon-bag-16"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-bag-16</p>&ndash;&gt;&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/still-life-vase-with-twelve-sunflowers.jpgLarge.jpg"}}>&ndash;&gt;-->
<!--                  &lt;!&ndash;<i class="tim-icons icon-bank"></i>-->
<!--                  <p>icon-bank</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/photo_2024-04-28_19-18-37 (2).jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="star-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="tim-icons icon-shape-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-basket-simple"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-basket-simple</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/photo_2024-04-28_19-18-37.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-bell-55"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-bell-55</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/photo_2024-04-28_19-18-36.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-bold"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-bold</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/cezanne030.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-book-bookmark"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-book-bookmark</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/evard-munch-der-schrei.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-double-right"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-double-right</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/friedrich016.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="star-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="tim-icons icon-shape-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-bulb-63"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-bulb-63</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/kandinsky019.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-bullet-list-67"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-bullet-list-67</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/aivazovsky001.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="star-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="tim-icons icon-shape-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-bus-front-12"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-bus-front-12</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/gogh187.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="star-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="tim-icons icon-shape-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-button-power"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-button-power</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/pymonenko003.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="star-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="tim-icons icon-shape-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-camera-18"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-camera-18</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/pymonenko005.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="star-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="tim-icons icon-shape-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-calendar-60"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-calendar-60</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/main-image.jpeg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-caps-small"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-caps-small</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                  <div class="image-placeholder">-->
<!--&lt;!&ndash;                      <img src="{{ config.ASSETS_ROOT }}/gallery/images.jpeg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="star-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="tim-icons icon-shape-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="font-icon-detail">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  <i class="tim-icons icon-cart"></i>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  <p>icon-cart</p>&ndash;&gt;&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/photo_2024-04-28_19-18-37 (3).jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-chart-bar-32"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-chart-bar-32</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/42006-estampa-japonesa-Ukiyo-e.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-chart-pie-36"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-chart-pie-36</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/pymonenkoweddingkyiv.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="star-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="tim-icons icon-shape-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-chat-33"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-chat-33</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="image-placeholder">-->
<!--&lt;!&ndash;                    <img src="{{ config.ASSETS_ROOT }}/gallery/andy-warhol-1-1.jpg"}}>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-check-2"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-check-2</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
