{% extends "layouts/base.html" %}

{% block title %} Gallery {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
    .image-placeholder {
        margin-bottom: 10px;
        overflow: hidden;
        width: 100%;
        height: 200px; /* Adjust based on your design */
    }

    .image-placeholder img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .star-icon {
        position: absolute;
        bottom: 12px;
        right: 20px;
        color: yellow;
    }
</style>

{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Your Gallery</h5>
<!--            <p class="category"></p>-->
          </div>
          <div class="card-body all-icons">
            <div class="row">
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/photo_2024-04-28_19-18-35.jpg"}}>
                  <!--<i class="tim-icons icon-alert-circle-exc"></i>
                  <p>icon-alert-circle-exc</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/morningwalk.jpg"}}>
                    <div class="star-icon">
                        <i class="tim-icons icon-shape-star"></i>
                    </div>
<!--                    <p>icon-align-center</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class="image-placeholder">
                      <img src="{{ config.ASSETS_ROOT }}/gallery/1024px-Claude_Monet_-_Woman_with_a_Parasol_-_Madame_Monet_and_Her_Son_-_Google_Art_Project-768x954.jpg"}}>
                      <div class="star-icon">
                        <i class="tim-icons icon-shape-star"></i>
                      </div>
<!--                <div class="font-icon-detail">-->
<!--                  &lt;!&ndash;<i class="tim-icons icon-align-left-2"></i>-->
<!--                  <p>icon-align-left-2</p>&ndash;&gt;-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class="image-placeholder">
                      <img src="{{ config.ASSETS_ROOT }}/gallery/1665_Girl_with_a_Pearl_Earring-768x910.jpg"}}>
<!--                <div class="font-icon-detail">-->
<!--                  &lt;!&ndash;<i class="tim-icons icon-app"></i>-->
<!--                  <p>icon-app</p>&ndash;&gt;-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class="image-placeholder">
                      <img src="{{ config.ASSETS_ROOT }}/gallery/12320-768x769.jpg"}}>
                      <div class="star-icon">
                        <i class="tim-icons icon-shape-star"></i>
                      </div>
<!--                <div class="font-icon-detail">-->
<!--                  &lt;!&ndash;<i class="tim-icons icon-atom"></i>-->
<!--                  <p>icon-atom</p>&ndash;&gt;-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class="image-placeholder">
                      <img src="{{ config.ASSETS_ROOT }}/gallery/Starry_Night_Over_the_Rhone-768x595.jpg"}}>
                      <div class="star-icon">
                        <i class="tim-icons icon-shape-star"></i>
                      </div>
<!--                <div class="font-icon-detail">-->
<!--                  &lt;!&ndash;<i class="tim-icons icon-attach-87"></i>-->
<!--                  <p>icon-attach-87</p>&ndash;&gt;-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class="image-placeholder">
                      <img src="{{ config.ASSETS_ROOT }}/gallery/Van_Gogh_-_Starry_Night_-_Google_Art_Project-scaled.jpg"}}>
<!--                <div class="font-icon-detail">-->
<!--                  &lt;!&ndash;<i class="tim-icons icon-badge"></i>-->
<!--                  <p>icon-badge</p>&ndash;&gt;-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class="image-placeholder">
                      <img src="{{ config.ASSETS_ROOT }}/gallery/Van_Gogh_-_Terrasse_des_Cafes_an_der_Place_du_Forum_in_Arles_am_Abend1FXD-768x1008.jpg"}}>
                      <div class="star-icon">
                        <i class="tim-icons icon-shape-star"></i>
                      </div>
<!--                <div class="font-icon-detail">-->
<!--                  &lt;!&ndash;<i class="tim-icons icon-bag-16"></i>-->
<!--                  <p>icon-bag-16</p>&ndash;&gt;-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/still-life-vase-with-twelve-sunflowers.jpgLarge.jpg"}}>
                  <!--<i class="tim-icons icon-bank"></i>
                  <p>icon-bank</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/photo_2024-04-28_19-18-37 (2).jpg"}}>
                    <div class="star-icon">
                        <i class="tim-icons icon-shape-star"></i>
                    </div>
<!--                  <i class="tim-icons icon-basket-simple"></i>-->
<!--                  <p>icon-basket-simple</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/photo_2024-04-28_19-18-37.jpg"}}>
<!--                  <i class="tim-icons icon-bell-55"></i>-->
<!--                  <p>icon-bell-55</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/photo_2024-04-28_19-18-36.jpg"}}>
<!--                  <i class="tim-icons icon-bold"></i>-->
<!--                  <p>icon-bold</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/cezanne030.jpg"}}>
<!--                  <i class="tim-icons icon-book-bookmark"></i>-->
<!--                  <p>icon-book-bookmark</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/evard-munch-der-schrei.jpg"}}>
<!--                  <i class="tim-icons icon-double-right"></i>-->
<!--                  <p>icon-double-right</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/friedrich016.jpg"}}>
                    <div class="star-icon">
                        <i class="tim-icons icon-shape-star"></i>
                    </div>
<!--                  <i class="tim-icons icon-bulb-63"></i>-->
<!--                  <p>icon-bulb-63</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/kandinsky019.jpg"}}>
<!--                  <i class="tim-icons icon-bullet-list-67"></i>-->
<!--                  <p>icon-bullet-list-67</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/aivazovsky001.jpg"}}>
                    <div class="star-icon">
                        <i class="tim-icons icon-shape-star"></i>
                    </div>
<!--                  <i class="tim-icons icon-bus-front-12"></i>-->
<!--                  <p>icon-bus-front-12</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/gogh187.jpg"}}>
                    <div class="star-icon">
                        <i class="tim-icons icon-shape-star"></i>
                    </div>
<!--                  <i class="tim-icons icon-button-power"></i>-->
<!--                  <p>icon-button-power</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/pymonenko003.jpg"}}>
                    <div class="star-icon">
                        <i class="tim-icons icon-shape-star"></i>
                    </div>
<!--                  <i class="tim-icons icon-camera-18"></i>-->
<!--                  <p>icon-camera-18</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/pymonenko005.jpg"}}>
                    <div class="star-icon">
                        <i class="tim-icons icon-shape-star"></i>
                    </div>
<!--                  <i class="tim-icons icon-calendar-60"></i>-->
<!--                  <p>icon-calendar-60</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/main-image.jpeg"}}>
<!--                  <i class="tim-icons icon-caps-small"></i>-->
<!--                  <p>icon-caps-small</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class="image-placeholder">
                      <img src="{{ config.ASSETS_ROOT }}/gallery/images.jpeg"}}>
                      <div class="star-icon">
                        <i class="tim-icons icon-shape-star"></i>
                      </div>
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-cart"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-cart</p>&ndash;&gt;-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/photo_2024-04-28_19-18-37 (3).jpg"}}>
<!--                  <i class="tim-icons icon-chart-bar-32"></i>-->
<!--                  <p>icon-chart-bar-32</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/42006-estampa-japonesa-Ukiyo-e.jpg"}}>
<!--                  <i class="tim-icons icon-chart-pie-36"></i>-->
<!--                  <p>icon-chart-pie-36</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/pymonenkoweddingkyiv.jpg"}}>
                    <div class="star-icon">
                        <i class="tim-icons icon-shape-star"></i>
                    </div>
<!--                  <i class="tim-icons icon-chat-33"></i>-->
<!--                  <p>icon-chat-33</p>-->
                </div>
              </div>
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="image-placeholder">
                    <img src="{{ config.ASSETS_ROOT }}/gallery/andy-warhol-1-1.jpg"}}>
<!--                  <i class="tim-icons icon-check-2"></i>-->
<!--                  <p>icon-check-2</p>-->
                </div>
              </div>
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-cloud-download-93"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-cloud-download-93</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-cloud-upload-94"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-cloud-upload-94</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-coins"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-coins</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-compass-05"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-compass-05</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-controller"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-controller</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-credit-card"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-credit-card</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-delivery-fast"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-delivery-fast</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-email-85"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-email-85</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-gift-2"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-gift-2</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-globe-2"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-globe-2</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-headphones"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-headphones</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-heart-2"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-heart-2</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-html5"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-html5</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-double-left"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-double-left</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-image-02"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-image-02</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-istanbul"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-istanbul</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-key-25"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-key-25</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-laptop"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-laptop</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-light-3"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-light-3</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-link-72"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-link-72</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-lock-circle"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-lock-circle</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-map-big"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-map-big</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-minimal-down"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-minimal-down</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-minimal-left"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-minimal-left</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-minimal-right"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-minimal-right</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-minimal-up"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-minimal-up</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-mobile"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-mobile</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-molecule-40"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-molecule-40</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-money-coins"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-money-coins</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-notes"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-notes</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-palette"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-palette</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-paper"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-paper</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-pin"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-pin</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-planet"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-planet</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-puzzle-10"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-puzzle-10</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-pencil"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-pencil</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-satisfied"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-satisfied</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-scissors"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-scissors</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-send"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-send</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-settings-gear-63"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-settings-gear-63</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-settings"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-settings</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-wifi"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-wifi</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-single-02"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-single-02</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-single-copy-04"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-single-copy-04</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-sound-wave"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-sound-wave</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-spaceship"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-spaceship</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-square-pin"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-square-pin</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-support-17"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-support-17</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-tablet-2"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-tablet-2</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-tag"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-tag</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-tap-02"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-tap-02</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-tie-bow"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-tie-bow</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-time-alarm"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-time-alarm</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-trash-simple"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-trash-simple</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-trophy"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-trophy</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-tv-2"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-tv-2</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-upload"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-upload</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-user-run"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-user-run</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-vector"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-vector</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-video-66"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-video-66</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-wallet-43"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-wallet-43</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-volume-98"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-volume-98</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-watch-time"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-watch-time</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-world"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-world</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-zoom-split"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-zoom-split</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-refresh-01"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-refresh-01</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-refresh-02"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-refresh-02</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-shape-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-shape-star</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-components"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-components</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-triangle-right-17"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-triangle-right-17</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-button-pause"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-button-pause</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-simple-remove"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-simple-remove</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-simple-add"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-simple-add</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
<!--                <div class="font-icon-detail">-->
<!--&lt;!&ndash;                  <i class="tim-icons icon-simple-delete"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>icon-simple-delete</p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
